.whatthesigma {
    background-color: #292c3c;
}
.ohio {
    border: 4px solid var(--col);
    font-size:20px;
    color: var(--col);
    width: 600px;
    height: 1200px;
}
.animal {
    width: 500px;
    height: 500px;
}
.basedOnRizz {
    text-align: left;
    border: 4px solid var(--col);
    font-size:20px;
    color: var(--col);
    width: 600px;
    height: 200px;
    padding:25px;
}
.gyatt{
    border: 4px solid var(--col);
    font-size:20px;
    color: var(--col);
    width: 150px;
    height: 150px;
    float: auto; 
}
a {
    color: var(--col)
}
